body {
		color: black;
		margin:0;
		padding:0;
		font-family: "Comic Sans MS", "Comic Sans", cursive;
		font-size: 22px;
} 

header, footer {
		color: black;
		width: 100%;		
		display: inline-block;
		margin:0;
		padding:0;
}

#myContainer {
	position: relative;
	min-height: 100vh;
}

#myPage {
	margin-left: 5%;
	margin-top: 4%;
	margin-right: 5%;
	padding-bottom: 150px;
}

footer {
	position: absolute;
	bottom: 0;
	background-color: #333;
	color: #bbbbbb;
}

